# Configuración de Supabase para Frontend
PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-aqui

# URL de Deploy Hook de Vercel (Creala en Vercel Settings > Git > Deploy Hooks)
PUBLIC_VERCEL_DEPLOY_HOOK= link del hook de deploy